.carousel-inner {
    height: 50%;
}

.home {
    color: black;
    background-color: white;
}

@media only all and (max-width: 768px) {
    .carousel-inner {
        height: 50%;
    }
    
    .home {
        color: black;
        background-color: white;
    }
}