body {
    margin: 0;
    font-family: sans-serif;
    background: #212529 !important;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212529 !important;
}

a {
    color: white;
    background-color: white;
}

footer {
    background-color: #212529;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Rancho', serif;
    font-size: 5em;
    text-shadow: 4px 4px 4px #aaa;
}

button {
    background-color: #212529;
    color: white;
}
.home_link{
    color: white;
    background-color: #212529;
}

@media only screen and (max-width: 768px) {
    
    header {
        height: 50vw;
    }
    
    h1 {
        font-size: 3em;
    }
    
    .div {
        flex-direction: column;
    }
    
    .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
